<h2 class="bloc-title">{% trans from 'about' %} about.news {% endtrans %}</h2>

<div class="inner padding">
    <div class="flex">
        <div class="hexagon degrade admission-hexagon">
            <div class="news-title"><h4>{% trans from 'ctihome' %} english {% endtrans %}</h4></div>

            <p style="text-align: left">{% trans from 'ctihome' %} englishNews {% endtrans %}</p>
        </div>

        <div class="hexagon degrade admission-hexagon">
            <div class="news-title"><h4>{% trans from 'ctihome' %} german {% endtrans %}</h4></div>
            <p style="text-align: left">{% trans from 'ctihome' %} allemandNews {% endtrans %}</p>
        </div>

        <div class="hexagon degrade admission-hexagon">
            <div class="news-title"><h4>{% trans from 'ctihome' %} computing {% endtrans %}</h4></div>
            <p style="text-align: left">{% trans from 'ctihome' %} infoNews {% endtrans %}</p>
        </div>

    </div>
</div>