
    <div class="left-nav-contain">
        <div class="titre_lef-nav">{% trans from 'left-nav' %} title {% endtrans %}</div>

        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-an"><h4>{% trans from 'left-nav' %} CoursANGL {% endtrans %}</h4></div>
        <div class="sous-titre-contenu" id="sous-titre-anglais">
            <div class="left-nav-text">
                {% trans from 'left-nav' %} TexteANGL {% endtrans %}
            </div>
            <div class="left-nav-links">
                <a href="{{  path('main_CoursIntensifs') }}">{% trans from 'left-nav' %} prADULT {% endtrans %}</a>

                <a href="">{% trans from 'left-nav' %} prJEUNES {% endtrans %}</a>

                <a href="">{% trans from 'left-nav' %} PrepaEXAMS {% endtrans %}</a>
                <a href="">{% trans from 'left-nav' %} coursPARTICULIER {% endtrans %}</a>

            </div>
        </div>
        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-al"><h4>{% trans from 'left-nav' %} CoursALL {% endtrans %}</h4></div>
        <div class="sous-titre-contenu" id="left-nav-al-cont">
            <div class="left-nav-text">
                {% trans from 'left-nav' %} TexteALL {% endtrans %}
            </div>
            <div class="left-nav-links">
                <a href="{{ path('main_allemand') }}">{% trans from 'left-nav' %} Plus {% endtrans %}</a>

            </div>
        </div>
        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-it"><h4>{% trans from 'left-nav' %} CoursINFO {% endtrans %}</h4></div>
        <div class="sous-titre-contenu" id="left-nav-it-cont">
            <div class="left-nav-text">
                {% trans from 'left-nav' %} TexteINFO {% endtrans %}

            </div>
            <div class="left-nav-links">
                <a href="{{ path('main_allemand') }}">{% trans from 'left-nav' %} Secretariat {% endtrans %}</a>

                <a href="">{% trans from 'left-nav' %} Design {% endtrans %}</a>

                <a href="">{% trans from 'left-nav' %} DevWEB {% endtrans %}</a>
                <a href="">{% trans from 'left-nav' %} SecuriteINFO {% endtrans %}</a>

            </div>
        </div>

    </div>

