
    <div class="left-nav-contain">
        <div class="titre_lef-nav">FORMATIONS CTI Cameroon</div>

        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-an"><h3>Anglais</h3></div>
        <div class="sous-titre-contenu" id="sous-titre-anglais">
            <div class="left-nav-text">
                Nous dispensons des cours d’Anglais général pour tous les niveaux.
                Que vous soyez élève, étudiant, chercheur d’emplois ou même travailleurs les différents cours
                d’Anglais que nous dispensons au Churchill Training Institute permettrons d’améliorer ou de perfectionner vos connaissances en anglais,
                vous donnant ainsi un atout supplémentaire pour votre progrès professionnel ou académique. <br>
            </div>
            <div class="left-nav-links">
                <a href="">Pour adultes</a>

                <a href="">Pour enfants et jeunes</a>

                <a href="">Préparation aux examens</a>
                <a href="">Cours aux particuliers</a>

            </div>
        </div>
        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-al"><h3>Cours d'Allemand</h3></div>
        <div class="sous-titre-contenu" id="left-nav-al-cont">
            <div class="left-nav-text">
                Le Churchill Training Institute offres des cours de langue allemande aux jeunes souhaitant étudier en Allemagne.
                Nous préparons les candidats aux examens de langue allemande Nécessaires pour obtenir un visa étudiant ( Goethe-Zertifikat A1: Start Deutsch1, Goethe-Zertifikat B1, Goethe-Zertifikat B2, Test-DaF) offerts par l’Institut-Goethe à Yaoundé.<br>
            </div>
            <div class="left-nav-links">
                <a href="{{ path('main_allemand') }}">En savoir plus</a>

            </div>
        </div>
        <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-it"><h3>Cours d'Informatique</h3></div>
        <div class="sous-titre-contenu" id="left-nav-it-cont">
            <div class="left-nav-text">
                Le CTI offre des formations de haute qualité dans plusieurs domaines de l’informatique<br>

            </div>
            <div class="left-nav-links">
                <a href="">Secrétariat bureautique</a>

                <a href="">Infographie, Design Artistique et Média</a>

                <a href="">Développement d’Applications Web</a>
                <a href="">Sécurité informatique</a>

            </div>
        </div>

    </div>

