#main_contact{
  margin-top: 4%;

  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    margin: 1em;
    text-align: center;
  }

  .carte {
    width: 48%;
    border: 1px solid #221199;
    margin: 5px;
    padding: 10px 3px;
    overflow: hidden;
  }

  .insert {
    width: 100%;
  }

  .contacts {
    padding: 5px;
    width: 48%;
    border: 1px solid #221199;
    margin: 5px;
  }

  table {
    border-collapse: collapse;
    display: flex;

  }
  .bordure_gauche_tableau{
    border-left: 6px solid #f16e00;
  }
  .titre_tableau{
    font-weight: bold;
    font-size: 1.5em;
  }


  th, td {
    text-align: left;
    padding: 10px;
  }
  .trait_horizontal{
    border-bottom: 2px solid #E1E1E1;
  }

  tr{background-color: #f1f1f1}

}

//RESPONSIVITE DU SITE
//CSS POUR TABLETE ET MObile

//pour ipad et autre tabletes
@media only screen and (max-device-width : 1024px)

{
  #main_contact {

    .carte {
      padding: auto;
    }

    .contacts {
      padding: auto;
    }

  }
}



//Pour telephone mobile jusqu'a iphone 10
@media only screen and (max-device-width : 812px)

{
  #main_contact {
    .flex-container {
      display: flex;
      flex-direction: column;
      margin: 0;
      text-align: center;
    }

    .carte {
      width: 98%;
    }

    .contacts {
      width: 98%;
    }

  }
}


