#main_contact{
  margin-top: 4%;
  .flex-container {
    margin-top: 4%;
    display: flex;
    align-items: stretch;
  }

  .flex-container>div {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    padding:3%;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    display: flex;

  }
  .bordure_gauche_tableau{
    border-left: 6px solid #f16e00;
  }
  .titre_tableau{
    font-weight: bold;
    font-size: 1.5em;
  }


  th, td {
    text-align: left;
    padding: 10px;
  }
  .trait_horizontal{
    border-bottom: 1px solid #E1E1E1;
  }

  tr{background-color: #f1f1f1}


}



