#main_home {





}




/*iPhone 6 in portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
/*and (orientation : portrait)*/


{
  #main_home {


  }


}

/*iPhone 5 & 5S in portrait*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
/*and (orientation : portrait)*/

{
  #main_home {

    #jssor_1 {
      position:relative;
      margin:0 auto;
      top:0px;
      left:0px;
      overflow:hidden;
      visibility:hidden;
      width:100%;
      /*height:480px;*/

    }

    #slider-images{
      cursor:default;position:relative;top:0px;left:0px;
      width:100%;
      height:210px;
      overflow:hidden;

    }

    .slide-banner {
      width: 300px!important;
      position:absolute!important;
      top:5px!important;
      left:5px!important;

      height:20px!important;
      background-color:rgba(255,188,5,0.8);
      font-family:Oswald,sans-serif;
      font-size:15px!important;
      font-weight: 200;
      line-height:1.2;
      text-align:center;
    }


  }


}
