{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'ctifooter' %} descriptions_contacts {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'ctifooter' %} keyword_contacts {% endtrans %}" >
    <meta name="author" content="cticamer.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'bureautique' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

     {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}
{% endblock %}

{% block  mainLg %}

    <div id="main_contact">

        <div class="flex-container">
            <div style="order: 3">
                <div style="overflow-x:auto;">
                    <table>
                        <th class="titre_tableau bordure_gauche_tableau">CHURCHILL TRAINING INSTITUTE</th>
                        <th></th>
                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">{% trans from 'ctifooter' %} telephone {% endtrans %}</td>
                            <td class="trait_horizontal">
                                <ul>
                                    <li>673 91 94 90</li>
                                    <li>695 50 48 82 </li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">E-mail:</td>
                            <td class="trait_horizontal">info@cticamer.com</td>
                        </tr>
                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">{% trans from 'ctifooter' %} adresse {% endtrans %}: </td>
                            <td class="trait_horizontal"> {% trans from 'ctifooter' %} lacalisation_cti {% endtrans %}
                            </td>
                        </tr>
                        <tr>
                            <td class="bordure_gauche_tableau">BP:</td>
                            <td>8119 Douala</td>
                        </tr>
                        <tr>
                    </table>
                </div>
                <div  style="overflow-x:auto;">
                    <table>
                        <th class="titre_tableau bordure_gauche_tableau">{% trans from 'ctifooter' %} heure_ouverture {% endtrans %}</th>
                        <th></th>
                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">{% trans from 'ctifooter' %} jours {% endtrans %}:</td>
                            <td class="trait_horizontal ">
                                8h-21h30
                            </td>
                        </tr>
                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">{% trans from 'ctifooter' %} samedi {% endtrans %}: </td>
                            <td class="trait_horizontal ">8h-16h</td>
                        </tr>
                        <tr>
                            <td class="trait_horizontal titre_tableau bordure_gauche_tableau ">{% trans from 'ctifooter' %} renseignements {% endtrans %} </td>
                            <td class="trait_horizontal "></td>
                        </tr>
                        <tr>
                            <td class=" bordure_gauche_tableau">{% trans from 'ctifooter' %} jours {% endtrans %}: </td>
                            <td> 8h-21h30</td>
                        </tr>
                        <tr>
                        <tr>
                            <td class="trait_horizontal bordure_gauche_tableau">{% trans from 'ctifooter' %} samedi {% endtrans %}: </td>
                            <td class="trait_horizontal">8h-16h</td>
                        </tr>
                        <tr>
                    </table>
                </div>
            </div>
            <div style="order: 2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.65311990878!2d9.741493314251581!3d4.09082869702542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10610de03bc82ba9%3A0x2c08b22c65a32370!2sChurchill+Training+Institute+Bonamoussadi!5e0!3m2!1sfr!2scm!4v1521726514360" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>

                </iframe>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}