{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'bureautique' %} descriptionBureautiq {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'bureautique' %} keywordBureautiq {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'bureautique' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }

    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_contact">

        <div class="flex-container">
            <div style="order: 3">
                <table class="container">
                    <thead>
                    <tr>
                        <th><h1>CHURCHILL TRAINING INSTITUTE</h1> </th><th>5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Telephone</td>
                        <td>
                            <ul>
                                <li>673 91 94 90</li>
                                <li>695 50 48 82 </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail: </td>
                        <td>info@cticamer.com</td>
                    </tr>
                    <tr>
                        <td>Adresse: </td>
                        <td>Bonamoussadi, Douala, Cameroun en face de
                            l'Entrée de la DGI</td>
                    </tr>
                    <tr>
                        <td>BP: </td>
                        <td>8119 Douala </td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="container">
                    <thead>
                    <tr>
                        <th><h1>HEURES D'OUVERTURE ET DE DEBUT DES COURS</h1> </th><th>5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Du Lundi au Vendredi:</td>
                        <td>8h-21h</td>
                    </tr>
                    <tr>
                        <td>Samedi: </td>
                        <td>9h-16h</td>
                    </tr>
                    </tbody>
                </table>
                <table class="container">
                    <thead>
                    <tr>
                        <th><h1>RENSEIGNEMENTS</h1> </th><th>5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Du Lundi au Vendredi: </td>
                        <td>8h-21h</td>
                    </tr>
                    <tr>
                        <td>Samedi: </td>
                        <td>9h-12h</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="order: 2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.65311990878!2d9.741493314251581!3d4.09082869702542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10610de03bc82ba9%3A0x2c08b22c65a32370!2sChurchill+Training+Institute+Bonamoussadi!5e0!3m2!1sfr!2scm!4v1521726514360" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>

                </iframe>
            </div>
        </div>

    </div>




{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}