<div id="first-nav">
    <div class="first-nav-items">
        {% trans from 'ctihome' %} language.title {% endtrans %} :
        <a href="{{ path('app_locale_fr') }}">{% trans from 'home' %} language.fr {% endtrans %}</a> |
        <a href="{{ path('app_locale_en') }}">{% trans from 'home' %} language.en {% endtrans %}</a>
    </div>
</div>