
<div id="cti-mobile-nav" xmlns="http://www.w3.org/1999/html">


    <div class="mobile-nav-header">
        <div class="nav-title">Churchill Training Institute</div>


        <div class="navbtn">
            <div class="social-div-item mobile-bars"><i class="fa fa-bars" style="font-size:40px;color:tomato"></i></div>
        </div>
    </div>

    <ul class="mlist">


        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>LANGUE ANGLAISE</h2></div>
                <p class="fcontent">
                    <span><a class="liens_footer" href="">Cours d'anglais</a></span><br>
                    <span><a class="liens_footer" href="">Enseigner l'anglais</a></span><br>
                    <span><a class="liens_footer" href="">Examens d'anglais</a></span><br>
                    <span><a class="liens_footer" href="/ile/Views/inscription.php">Inscription en ligne</a></span><br>
                    <span><a class="liens_footer" href="">Pourquoi apprendre l'anglais</a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>LANGUE ALLEMANDE</h2></div>
                <p class="fcontent">
                    <span><a class="liens_footer" href="">Cours d'allemand</a></span><br>
                    <span><a class="liens_footer" href="">Enseigner l'allemand</a></span><br>
                    <span><a class="liens_footer" href="">Examens d'allemand</a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>INFORMATIQUE</h2></div>
                <p class="fcontent">

                    <span><a class="liens_footer" href="">Secrétariat bureautique </a></span><br>
                    <span><a class="liens_footer" href="">Infographie, Design Artistique et Média</a></span><br>
                    <span><a class="liens_footer" href="">Formation à l’utilisation de l’Internet</a></span><br>
                    <span><a class="liens_footer" href="">Sécurité informatique</a></span><br>
                    <span><a class="liens_footer" href="">Développement d’Applications Web </a></span><br>
                    <span><a class="liens_footer" href="">Pourquoi choisir le CTI ?</a></span><br>
                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>QUI SOMMES NOUS?</h2></div>
                <p class="fcontent">
                    <span><a href="">Missions et objectifs</a></span><br>
                    <span><a href="">Contacts et horaires d'ouverture</a></span><br>
                    <span><a href="">Notre équipe</a></span><br>
                    <span><a href="">Carrière</a></span><br>
                    <span><a class="liens_footer" href="">Partenaires</a></span><br>
                </p>

            </div>
        </li>

    </ul>


</div>