{% extends 'MainBundle::cti-layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'nivlangue' %} descriptionLANG {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'nivlangue' %} keywordLANG {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'about' %} about.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }

        table.table01 {
            width: 90%;
            color: #f16e00;
            background-color: white;

        }


        table.table01 td,th {
            padding: 2%;
            margin: 5px!important;
            border: 5px solid transparent!important;
        }

        .table02 {
            width: 100%;
            background-color: #f16e00;
            color: white;
            border-collapse: separate;
        }

        .table03 {
            width: 100%;
            background-color: #0000cc;
            color: white;
            border-collapse: separate;
        }

        .abc {
            border: 5px solid transparent;
        }

        .accueil {
            background-color: rgba(225, 225, 225, 0.55);
            color: #403574;
            font-size: 150%;
            padding: 3%;
        }

    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}

{% endblock %}

{% block  mainLg %}

    <div id="main_home">

        <div class="sous-menu">
            {% trans from 'anglais' %} niv {% endtrans %}
        </div>


        <div class="message_and_image">
            <div class="message_on_image">{% trans from 'anglais' %} baniere {% endtrans %}</div>

            <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">
                <img class="baniere" id="top_img" src="{{ asset('data/img/baniere1.jpg') }}" alt="">
                {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
            </div>
        </div>

        <div class="flex-contain">

            <div class="left-nav">

                {% block left_nav %}
                    {% include 'MainBundle:Inc:left_nav.html.twig' %}
                {% endblock %}
            </div>

            <div class="">


                <div class="accueil">

                    <div>  {% trans from 'anglais' %} niveauxLANGUE {% endtrans %} </div>

                </div>


                <div class="section programmes-main-div">


                    <div class="inner-prog padding">
                        <div class="flex">

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> A1 </div>
                                </div>
                                <h4>{% trans from 'about' %}about.year1{% endtrans %}</h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.discover1 {% endtrans %}</h3>
                                {% trans from 'anglais' %} discover {% endtrans %}
                            </div>

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> A2 </div>
                                </div>
                                <h4> {% trans from 'about' %}about.year2{% endtrans %}  </h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.learn1 {% endtrans %}  </h3>
                                {% trans from 'anglais' %} learn {% endtrans %}
                            </div>

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> B1 </div>
                                </div>
                                <h4> {% trans from 'about' %}about.year3{% endtrans %} </h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.improve1 {% endtrans %}</h3>
                                {% trans from 'anglais' %} improve {% endtrans %}
                            </div>

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> B2 </div>
                                </div>
                                <h4>  {% trans from 'about' %}about.year4{% endtrans %} </h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.master1 {% endtrans %}</h3>
                                {% trans from 'anglais' %} master {% endtrans %}
                            </div>

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> C1 </div>
                                </div>
                                <h4>  {% trans from 'about' %}about.year5{% endtrans %} </h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.expert1 {% endtrans %}</h3>
                                {% trans from 'anglais' %} expert1 {% endtrans %}
                            </div>

                            <div class="programme">
                                <div class="diamant">
                                    <div class="diamant-shape">

                                    </div>
                                    <div class="diamant-content"> C2 </div>
                                </div>
                                <h4>  {% trans from 'about' %}about.year6{% endtrans %} </h4>
                                <h3 class="titre-prog">{% trans from 'about' %} about.expert1 {% endtrans %}</h3>
                                {% trans from 'anglais' %} expert2 {% endtrans %}
                            </div>


                        </div>
                    </div>

                </div>




            </div>

        </div>









        <div class="separator"></div>


        <div class="section programmes-main-div ">
            {% block ACTUALITE %}
                {% include 'MainBundle:Inc:actualites.html.twig' %}
            {% endblock %}

        </div>









    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}