{% extends 'MainBundle::cti-layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'nous-contacter' %} descriptionNousContacter {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'nous-contacter' %} keywordNousContacter {% endtrans %}" >
    <meta name="author" content="cticamer.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'nous-contacter' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}
{% endblock %}

{% block  mainLg %}

<div id="main_nousContacter">
    <div class="flexContainer">
        <h1 class="titre01"> {% trans from 'nous-contacter' %} ContacterNous {% endtrans %} </h1>
        <div class="box-container">
            <div class="title"> {% trans from 'nous-contacter' %} EcriverNous {% endtrans %} </div>
            <div>
                {% trans from 'nous-contacter' %} instruction01 {% endtrans %}
            </div>
            <form action="" method="get">
                <div class="input-box">
                    <span > Email : * :</span><br>
                    <input type="text" class="input-elt" id="usMail" size="35" name="EMAIL" >
                    <p id="errEmail" class="error"></p>
                </div>
                <div class="input-box">
                    <span> {% trans from 'nous-contacter' %} nom {% endtrans %}</span><br>
                    <input type="text" class="input-elt" id="usName" name="NOM" >
                    <p id="errName" class="error"></p>
                </div>
                <div class="input-box">
                    <span> {% trans from 'nous-contacter' %} phone {% endtrans %}</span><br>
                    <input type="text" class="input-elt" placeholder="+237 xxxxxxxxx" id="usPhone" name="PHONE" >
                    <p id="errPhone" class="error"></p>
                </div>
                <div class="input-box">
                    <span> {% trans from 'nous-contacter' %} msg {% endtrans %}</span><br>
                    <textarea name="messag" id="usMsg" rows="3" class="input-elt" placeholder="Votre message ici (150 mots maximum)" ></textarea>
                    <p id="errMessage" class="error"></p>
                </div>
                <div class="input-details">
                    {% trans from 'nous-contacter' %} confidentialite {% endtrans %}
                </div>
                <input type="submit" value="Envoyer" class="input-submit">

            </form>

        </div>


        <h1 class="titre02"> {% trans from 'nous-contacter' %} nousVoir {% endtrans %} </h1>
        <div class="situation">
            <p>
                {% trans from 'nous-contacter' %} localisation {% endtrans %}
            </p>
            <a href="{{ path('main_contactEtHoraires') }}#C1" >
                {% trans from 'nous-contacter' %} horaires {% endtrans %}
            </a>
        </div>

    </div>

</div>

{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}

    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}