{% extends 'MainBundle::cti-layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'opportunity' %} descriptionOPPORTUNITY {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'opportunity' %} keywordOPPORTUNITY {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'opportunity' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }
    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}

{% endblock %}

{% block  mainLg %}

    <div id="main_opportunites">

        <div class="message_and_image">
            <div class="message_on_image">{% trans from 'opportunity' %} Offres {% endtrans %}</div>

            <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">
                <img class="baniere" id="top_img" src="{{ asset('data/img/baniere1.jpg') }}" alt="">
                {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
            </div>
        </div>

        <div class="flex-contain">
            <div class="types">
                <a href="#C1">Offres d'Emploi</a> <br>
                <a href="#C2">Offres de Stage</a> <br>
                <a href="#C3">Offres de Partenariat</a>
            </div>
            <div class="offre-container">
                <div class="offre">
                    <h1 id="C1" class="group">Offres d'Emploi</h1>
                    <p>
                        LE CHURCHILL TRAINING INSTITUTE (CTI), centre de référence pour vos formations en langue anglaise,
                        allemande  et en informatique basé à Douala Bonamoussadi  recrute :
                    </p>
                    <p>
                        POSTE PROPOSÉ : AGENT COMMERCIAL <br>
                        CRITÈRES  POUR LE POSTE <br>
                        Métier :     Commercial, Marketing, Communication <br>
                        Ville : Douala <br>
                        Niveau d’étude :  Bac + 1 Minimum. Un diplôme en marketing ou en Communication d’entreprise est
                        un atout. <br>
                        Missions : <br>
                    </p>
                    <ul>
                        <li>Prospecter les entreprises et les individus</li>
                        <li>Chercher de nouveaux prospects, évaluer leurs besoins et élaborer des offres spécifiques</li>
                        <li>Négocier les contrats</li>
                        <li>Elaborer des stratégies de communication à travers les médias et réseaux sociaux</li>
                    </ul>
                    <span>PROFIL RECHERCHÉ POUR LE POSTE :</span>
                    <ul>
                        <li>Bonne présentation</li>
                        <li>Aptitudes relationnelles</li>
                        <li>Autonomie</li>
                        <li>Dynamisme</li>
                        <li>Proactivité</li>
                        <li>Capacité de persuasion</li>
                        <li>Bonne maitrise du français ou de l'anglais.</li>
                        <li>Avoir des connaissances en informatique serait un atout</li>
                    </ul>
                    <span>Dossier de candidature :</span>
                    <ul>
                        <li>Lettre de motivation</li>
                        <li>Curriculum Vitae actualisé</li>
                        <li>Plan de localisation</li>
                        <li>Photocopie du diplôme le plus élevé.</li>
                        <li>Une photocopie de la CNI</li>

                    </ul>
                    <p>Les dossiers de candidature peuvent être déposé au siège de CTI, Situé à Bonamoussadi, à l’entrée
                        du centre des impôts de Douala 5ème <br>
                        Alternativement, vous pouvez envoyer votre dossier par email à l’adresse info@cticamer.com ou par
                        WhatsApp au numéro : 673 91 94 90
                    </p>





                </div>
                <div class="offre">
                    <h1 id="C2" class="group">Offres de Stage</h1>

                </div>
                <div class="offre">
                    <h1 id="C3" class="group">Offres de Partenariat</h1>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}