{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'infographie' %} descriptionInfograph {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'infographie' %} keywordInfograph {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'infographie' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }

    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_sousRubriqInfo">

        <div class="sous-menu">
            {% trans from 'infographie' %} infoGRAH {% endtrans %}
        </div>
        <div class="flex-contain">

            <div class="left-nav">

                {% block left_nav %}
                    {% include 'MainBundle:Inc:left_nav.html.twig' %}
                {% endblock %}
            </div>

            <div class="main-contain-middle">

                <div class="baniereb">

                    <div class="img-et-msg-baniere">
                        <img class="baniere-img box-baniereb" src="{{ asset('data/img/infograph.jpg') }}" alt="">
                        <div class="messages-baniere">
                            <div class="vertical">
                                <div class="baniere-msgb">
                                    <h2>{% trans from 'infographie' %} infographDESIGN {% endtrans %}</h2>

                                </div>

                                <div class="baniere-msg-2">
                                    {% trans from 'infographie' %} objectif {% endtrans %}
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="lineb">
                        {% trans from 'infographie' %} atoutINFOGR {% endtrans %}
                    </div>
                </div>

                <div class="cat-containerb">
                    <div class="">
                        <div class="category-title">
                            <h3>{% trans from 'ctihome' %} prochaineRentree {% endtrans %}:
                                {% trans from 'ctihome' %} debutDesCours {% endtrans %}
                            </h3>
                        </div>
                        <div class="datecours">
                            <div class="annonce-inscription">
                                {% trans from 'ctihome' %} placesDISPO {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="titreFormation">
                    <div>  {% trans from 'infographie' %} formationINFOGRAPHIE {% endtrans %} </div>

                </div>



                <div class="cat-container">
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href=""> {% trans from 'infographie' %} objectifINFOGR {% endtrans %} </a></h3>
                        </div>

                        <div class="">
                            {% trans from 'infographie' %} texte_01 {% endtrans %}
                        </div>
                        <ul class="objectifs">
                            <li> {% trans from 'infographie' %} but_01 {% endtrans %} </li>
                            <li> {% trans from 'infographie' %} but_02 {% endtrans %} </li>
                            <li> {% trans from 'infographie' %} but_03 {% endtrans %} </li>
                            <li> {% trans from 'infographie' %} but_04 {% endtrans %} </li>
                            <li> {% trans from 'infographie' %} but_05 {% endtrans %} </li>
                        </ul>


                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="#"> {% trans from 'infographie' %} programINFOGRAPHIE {% endtrans %} </a></h3>
                        </div>
                        <div class=""> {% trans from 'infographie' %} texte_11 {% endtrans %} </div>
                        <ul class="datecours objectifs">
                            <li>{% trans from 'infographie' %} partie_1 {% endtrans %}</li>
                            <li>{% trans from 'infographie' %} partie_2 {% endtrans %}</li>
                            <li>{% trans from 'infographie' %} partie_3 {% endtrans %}</li>
                            <li>{% trans from 'infographie' %} partie_4 {% endtrans %}</li>
                        </ul>

                        <div class="annonce-inscription but">
                            {% trans from 'infographie' %} texte_12 {% endtrans %}
                        </div>

                        <div class="category-desktop-contain">
                            <table class="table01">
                                <tr>
                                    <td> {% trans from 'infographie' %} logiciel_1 {% endtrans %}  </td>
                                    <td> {% trans from 'infographie' %} logiciel_2 {% endtrans %} </td>
                                </tr>

                                <tr>
                                    <td> {% trans from 'infographie' %} logiciel_3 {% endtrans %}  </td>
                                    <td> {% trans from 'infographie' %} logiciel_4 {% endtrans %} </td>
                                </tr>
                                <tr>
                                    <td> {% trans from 'infographie' %} logiciel_5 {% endtrans %}  </td>
                                    <td> {% trans from 'infographie' %} logiciel_6 {% endtrans %} </td>
                                </tr>

                            </table>
                        </div>

                    </div>


                    <div class="categorie">
                        <div class="category-title">
                            <h3> {% trans from 'cours-intensifs' %} HORAIRES {% endtrans %} </h3>
                        </div>

                        {% trans from 'cours-intensifs' %} messagHORAIRE {% endtrans %}

                        <div class="">
                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode1 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures1 {% endtrans %} </p></div>
                            </div>

                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode2 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures2 {% endtrans %}</p></div>
                            </div>

                            <div class="horaire">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode3 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures3 {% endtrans %}</p></div>
                            </div>

                        </div>


                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href=""> {% trans from 'infographie' %} dureeEtFreq {% endtrans %} </a></h3>
                        </div>

                        <!--    <div> {% trans from 'infographie' %} texte_34 {% endtrans %} </div>  -->
                        <table class="table01">
                            <tr>
                                <th> {% trans from 'infographie' %} texte_31 {% endtrans %}  </th>
                                <td> {% trans from 'infographie' %} theorieEtPratique {% endtrans %} </td>
                            </tr>

                            <tr>
                                <th> {% trans from 'infographie' %} texte_32 {% endtrans %}  </th>
                                <td> {% trans from 'infographie' %} stage {% endtrans %} </td>
                            </tr>
                            <tr>
                                <th> {% trans from 'infographie' %} texte_33 {% endtrans %}  </th>
                                <td> {% trans from 'infographie' %} periode {% endtrans %} </td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="separator"></div>

            </div>
        </div>

        <div class="section programmes-main-div ">
            {% block ACTUALITE %}
                {% include 'MainBundle:Inc:actualites.html.twig' %}
            {% endblock %}

        </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}