{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'bureautique' %} descriptionBureautiq {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'bureautique' %} keywordBureautiq {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'bureautique' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }

    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_home">

        <div class="sous-menu">
            {% trans from 'bureautique' %} logicielDeBUREAU {% endtrans %}
        </div>
        <div class="flex-contain">

            <div class="left-nav">

                {% block left_nav %}
                    {% include 'MainBundle:Inc:left_nav.html.twig' %}
                {% endblock %}
            </div>

            <div class="main-contain-middle">

                <div class="baniere cat-container">

                    <img class="baniere-img categorie" src="{{ asset('data/img/secretaire.jpg') }}" alt="">

                    <div class="baniere-msg categorie ">
                        <h2>{% trans from 'bureautique' %} secretBUR {% endtrans %}</h2> <BR>
                        {% trans from 'bureautique' %} objectif {% endtrans %}
                    </div>

                    <!--
                    <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">

                        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
                    </div>
-->

                </div>

                <div class="row line">
                    <div>  {% trans from 'bureautique' %} atout {% endtrans %} </div>

                </div>

                <div class="cat-container">
                    <div class="">
                        <div class="category-title">
                            <h3>{% trans from 'ctihome' %} prochaineRentree {% endtrans %}:
                                {% trans from 'ctihome' %} debutDesCours {% endtrans %}
                            </h3>
                        </div>
                        <div class="datecours">
                            <div class="annonce-inscription">
                                {% trans from 'ctihome' %} placesDISPO {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="cat-container">
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="#"> {% trans from 'bureautique' %} SecreBUREAU {% endtrans %} </a></h3>
                        </div>
                        <div class="importante"> {% trans from 'bureautique' %} Freq_01 {% endtrans %} </div>

                        <div class="datecours">
                            {% trans from 'bureautique' %} detail_01 {% endtrans %}
                        </div>

                        <div class="annonce-inscription but">
                            {% trans from 'bureautique' %} messag_01 {% endtrans %}
                        </div>

                        <div class="category-desktop-contain">
                            <table class="table01">
                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_01 {% endtrans %}  </th>
                                    <td>
                                        <ul>
                                            <li>{% trans from 'bureautique' %} module_01 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_02 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_03 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_04 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_05 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_06 {% endtrans %}</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_02 {% endtrans %}  </th>
                                    <td> {% trans from 'bureautique' %} Duree_01 {% endtrans %} </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_03 {% endtrans %}  </th>
                                    <td> {% trans from 'bureautique' %} Freq_01 {% endtrans %} </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="#"> {% trans from 'bureautique' %} LogicielBUREAU {% endtrans %} </a></h3>
                        </div>
                        <div class="importante"> {% trans from 'bureautique' %} Frequ_02 {% endtrans %} </div>

                        <div class="datecours">
                            {% trans from 'bureautique' %} detail_02 {% endtrans %}
                        </div>

                        <div class="annonce-inscription but">
                            {% trans from 'bureautique' %} messag_02 {% endtrans %}
                        </div>

                        <div class="category-desktop-contain">
                            <table class="table01">
                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_11 {% endtrans %}  </th>
                                    <td>
                                        <ul>
                                            <li>{% trans from 'bureautique' %} module_11 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_12 {% endtrans %}</li>
                                            <li>{% trans from 'bureautique' %} module_13 {% endtrans %}</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_12 {% endtrans %}  </th>
                                    <td> {% trans from 'bureautique' %} Duree_11 {% endtrans %} </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'bureautique' %} Element_13 {% endtrans %}  </th>
                                    <td> {% trans from 'bureautique' %} Frequ_02 {% endtrans %} </td>
                                </tr>

                            </table>                        </div>

                    </div>


                    <div class="categorie">
                        <div class="category-title">
                            <h3> {% trans from 'cours-intensifs' %} HORAIRES {% endtrans %} </h3>
                        </div>

                        {% trans from 'cours-intensifs' %} messagHORAIRE {% endtrans %}

                        <div class="">
                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode1 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures1 {% endtrans %} </p></div>
                            </div>

                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode2 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures2 {% endtrans %}</p></div>
                            </div>

                            <div class="horaire">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode3 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures3 {% endtrans %}</p></div>
                            </div>

                        </div>


                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_CoursParticulier') }}">{% trans from 'formation-continu' %} crsParti {% endtrans %}</a></h3>
                        </div>
                        {% trans from 'formation-continu' %} presentationCoursParti {% endtrans %}
                    </div>
                </div>

                <div class="separator"></div>

            </div>
        </div>

        <div class="section programmes-main-div ">
            {% block ACTUALITE %}
                {% include 'MainBundle:Inc:actualites.html.twig' %}
            {% endblock %}

        </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}